
<h2 class="menu-group-heading">
  Food Items
</h2>
<div class="menu-group">
  <div class="menu-item">
    <img class="menu-item-image" src="https://dummyimage.com/600x400/000/fff" alt="Burger">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Burger</span>
        <span class="menu-item-price">$8.50</span>
      </h3>
      <p class="menu-item-description">
        Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
        congue eu mauris nec, pretium tincidunt nulla.
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="https://dummyimage.com/600x400/0f0/fff" alt="Fires">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Fries</span>
        <span class="menu-item-price">$3.50</span>
      </h3>
      <p class="menu-item-description">
        Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
        congue eu mauris nec, pretium tincidunt nulla.
      </p>
    </div>
  </div>
</div>
<div class="menu-group">
  <div class="menu-item">
    <img class="menu-item-image" src="https://dummyimage.com/600x400/f00/000" alt="hot dog">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Hot Dog</span>
        <span class="menu-item-price">$5.50</span>
      </h3>
      <p class="menu-item-description">
        Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
        congue eu mauris nec, pretium tincidunt nulla.
      </p>
    </div>
  </div>
  <div class="menu-item">
    <img class="menu-item-image" src="https://dummyimage.com/600x400/00f/000" alt="Milk Shake">
    <div class="menu-item-text">
      <h3 class="menu-item-heading">
        <span class="menu-item-name">Shake</span>
        <span class="menu-item-price">$6.25</span>
      </h3>
      <p class="menu-item-description">
        Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
        congue eu mauris nec, pretium tincidunt nulla.
      </p>
    </div>
  </div>
</div>
</div>
