<nav class="nav">
  <% if (!user) { %>
  <div class="nav-item">
    <form action="api/login/" method="POST">
      <label for="loginEmail">Email:</label>
      <input type="email" id="loginEmail" name="loginEmail">
      <label for="loginPassword">Password:</label>
      <input type="password" id="loginPassword" name="loginPassword">
      <input type="submit" value="Login">
      </form>
      <a href="#welcome" class="nav-link">Welcome</a>
      <a href="#menu" class="nav-link">Menu</a>
      <a href="#cart" class="nav-link">Check Out</a>
      <a href="#order" class="nav-link">Your Meal</a>
  </div>
  <% } %>

  <% if ((user) && user !== 1) { %>
    <div class="nav-item">
        <h1>User logged in</h1>
        <a href="#welcome" class="nav-link">Welcome</a>
        <a href="#menu" class="nav-link">Menu</a>
        <a href="#cart" class="nav-link">Check Out</a>
        <a href="#order" class="nav-link">Your Meal</a>
    </div>
  <% } %>

  <% if (user === 1) { %>
    <div class="nav-item">
      <h1>Admin logged in</h1>
      <a href="#welcome" class="nav-link">Welcome</a>
      <a href="#menu" class="nav-link">Menu</a>
      <a href="#cart" class="nav-link">Check Out</a>
      <a href="#order" class="nav-link">Your Meal</a>
      <a href="/views/admin.ejs" class="nav-link">Control Panel</a>
  </div>
  <% } %>

</nav>
