<nav class="nav">

  <% if (!user) { %>
  <div class="nav-item">
    <div class="nav-browse">
      <a href="#welcome" class="nav-link"><b>Welcome</b></a>
      <a href="#menu" class="nav-link"><b>Menu</b></a>
      <a href="#order" class="nav-link"><b>Your Meal</b></a>
    </div>

    <div class="nav-login">
      <form action="login/" method="POST">
        <label for="loginEmail">Email:</label>
        <input type="email" id="loginEmail" name="loginEmail">
        <label for="loginPassword">Password:</label>
        <input type="password" id="loginPassword" name="loginPassword">
        <input type="submit" class="btn btn-primary" value="Login">
      </form>
    </div>

  </div>
  <% } %>

  <% if ((user) && user !== 1) { %>
  <div class="nav-item">

    <div class="nav-browse">
      <a href="#welcome" class="nav-link"><b>Welcome</b></a>
      <a href="#menu" class="nav-link"><b>Menu</b></a>
      <a href="#order" class="nav-link"><b>Your Meal</b></a>
    </div>

    <div class="nav-login">
      <form class="nav-logged" method="POST" action="/logout">
        <span><b>Welcome! | Customer <%- user -%></b></span>
        <input type="submit" class="btn btn-primary" value="Logout">
      </form>
    </div>

  </div>
  <% } %>

  <% if (user === 1) { %>

  <div class="nav-item">

    <div class="nav-browse">
      <a href="#welcome" class="nav-link"><b>Welcome</b></a>
      <a href="#menu" class="nav-link"><b>Menu</b></a>
      <a href="#order" class="nav-link"><b>Your Meal</b></a>
      <a href="control_panel" class="nav-link"><b>Control Panel</b></a>
    </div>

    <div class="nav-login">
      <form class="nav-logged" method="POST" action="/logout">
        <span><b>Logged in as: Admin</b></span>
        <input type="submit" class="btn btn-primary" value="Logout">
      </form>
    </div>
  </div>
  <% } %>

</nav>
