<head>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>
<div class="order">
  <section>
    <h2 id="h2-order">Order being made</h2>
    <p>Item: </p>
    <p>Customer: [insert data from cart form]</p>
  </section>
</div>
