<div class="welcome">
  <h1 id="title">Welcome</h1>
  <section class="welcomeText">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedeiusmod   tempor incididunt ut labore et dolore magna aliqua. Ueniad minim  veniam, quis nostrud exercitation ullamco laborinisi ualiquip ex ea  commodo consequat. Duis aute irure doloireprehenderit in voluptate   velit esse cillum dolore eu fugianullpariatur. Excepteur sint occaecat  cupidatat non proidentsunt iculpa qui officia deserunt mollit anim id  est laborum.
  </section>
</div>
