<div class="welcome">
  <h1 id="title">Welcome</h1>
  <section class="welcomeText">
    Lighthouse Lab's kitchen is the perfect place to eat. It's full of delicous food. Try our famous light burger with
    a side of javascript fries.
  </section>
</div>
