// See: https://sass-lang.com/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

.section#welcome {
  height: 60vh;
}

.section#order {
  height: 80vh;
}
