#menu {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/images/menuBackground.jpg");
  background-repeat: no-repeat;
}

#menu h1 {
  margin: 0;
  padding-left: 3em;
  padding-top: 0.75em;
}
