#order {
  background-image: url("../assets/images/burger.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  display: flex;
}

#h2-order {
  margin: 0px;
}
