#welcome {
  background-image: url("../assets/images/welcomeBackground.jpg");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  color: black;
}


.welcomeText {
  word-wrap: break-word;
  width: 350px;
  padding: 5px;
}

.welcome {
  background-color: rgba(255, 255, 255, .45);
  backdrop-filter: blur(20px);
  font-size: 1.25em;
  border-radius: 1em;
  margin-top: 150px;
  word-wrap: break-word;
  height: 200px;
}
