#welcome {
  background-image: url("../assets/images/burgerwallpaper.jpg");

  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
}

.welcomeText {
  word-wrap: break-word;
  width: 350px;
  padding: 5px;
}

.welcome {
  margin-left: 40em;
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(20px);
  font-size: 1.25em;
  border-radius: 1em;
  margin-top: 150px;
  word-wrap: break-word;
  height: 200px;
}
